Repository shweta-patki/csc510-se25-project: changes, and which Codecov flags are due for each by the changed paths.
All: frontend, backend

Clean up README.md comments
  proj2/README.md
Due: none

Add mission statement to README
  proj2/README.md
Due: none

minor edits in readme
  proj2/README.md
Due: none

minor edits in readme pt.2
  proj2/README.md
Due: none

minor edits in readme pt.3
  proj2/README.md
Due: none

Ran linters on code.
  proj2/backend/.venv/pyvenv.cfg
  proj2/backend/app/auth.py
  proj2/backend/app/db.py
  proj2/backend/app/main.py
  proj2/backend/app/models.py
  proj2/backend/app/schemas.py
  proj2/backend/tests/test_api_endpoints.py
  proj2/backend/tests/test_auth_accounts.py
  proj2/backend/tests/test_edgecase_dbadd.py
  proj2/backend/tests/test_pin_verify_errors.py
  proj2/backend/tests/test_profile_history.py
  proj2/backend/tests/test_runs_broadcast.py
  proj2/backend/tests/test_runs_joining.py
Due: backend

Test coverage Badges update
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
  codecov.yml
  proj2/README.md
Due: none

Updating Coverage Badge logic
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Due: none

deleted proj1 folder
  proj1/Proj 1c1/1c1.pdf
  proj1/Proj1 a1(Final).pdf
  proj1/Proj1 b1(Final).pdf
  proj1/Proj1 d1(Final).pdf
  proj1/Proj1 e1/Proj1 e1.pdf
Due: none

port change
  proj2/README.md
  proj2/backend/.env.example
  proj2/backend/.gitignore
  proj2/backend/.venv/bin/python
  proj2/backend/.venv/bin/python3
  proj2/backend/.venv/pyvenv.cfg
  proj2/frontend/package-lock.json
  proj2/frontend/src/services/authServices.js
  proj2/frontend/src/services/runsService.js
Due: frontend

env fix
  proj2/backend/.env.example
  proj2/backend/.gitignore
Due: none

chatbot feature
  proj2/frontend/src/App.jsx
  proj2/frontend/src/components/ChatbotLauncher.jsx
  proj2/frontend/src/components/HotspotChat.jsx
  proj2/frontend/src/index.css
Due: frontend

smart suggest descrption feature added when brodcasting a new run
  proj2/backend/.env.example
  proj2/backend/app/main.py
  proj2/backend/app/schemas.py
  proj2/frontend/src/__tests__/Broadcast.test.jsx
  proj2/frontend/src/pages/Broadcast.jsx
Due: frontend, backend

fallback ports updated
  proj2/frontend/src/services/authServices.js
  proj2/frontend/src/services/runsService.js
Due: frontend

readme added
  README.md
  proj2/README.md
Due: none

..
  README.md
  Section_2_Group_5.pdf
  proj2/README.md
Due: none

code coverage setup
  .github/workflows/coverage.yml
  README.md
Due: none

code coverage
  proj2/frontend/package-lock.json
  proj2/frontend/package.json
Due: none

code coverage for backend setup
  README.md
  proj2/backend/coverage.xml
  proj2/backend/pytest.ini
  proj2/backend/requirements.txt
Due: none

backend coverage workflow setup
  .github/workflows/backend-coverage.yml
  README.md
Due: none

updated readme
  proj2/README.md
Due: none

test run successful
  proj2/backend/.env.example
Due: none

Path conditions:
  frontend: any of: proj2/frontend/src, but not: proj1/**, proj2/frontend/public/**, proj2/frontend/src/__tests__/**, proj2/backend/tests/**
  backend: any of: proj2/backend/app, but not: proj1/**, proj2/frontend/public/**, proj2/frontend/src/__tests__/**, proj2/backend/tests/**
